++++++++++++++++++++++++++++++++++++++++++++++++++++
Agrotis Agrotinformática
Ambiente Plataforma
2023

Ambiente monitorado - DevOps@agrotis.com
++++++++++++++++++++++++++++++++++++++++++++++++++++

                     .-"""-.
                       / .===. \
                       \/ 6 6 \/
                       ( \___/ )
          _________ooo__\_____/_____________
         /                                  \
        |                                    |
        | “Com grandes poderes vêm           |
        |  grandes responsabilidades "       |
        |   Cuidado ao se tornar root        |    
        |     vc esta sendo vigiado          |
         \______________________ooo_________/
                       |  |  |
                       |_ | _|
                       |  |  |
                       |__|__|
                       /-'Y'-\
                      (__/ \__)

++++++++++++++++++++++++++++++++++++++++++++++++++++
Agrotis Agrotinformática
Ambiente Plataforma

++++++++++++++++++++++++++++++++++++++++++++++++++++
                                                  
